includes:
    - /Users/shameemreza/.composer/vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 2
    paths:
        - .
    excludePaths:
        analyseAndScan:
            - vendor (?)
            - node_modules (?)
    scanFiles:
        - /Users/shameemreza/.composer/vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
        - /Users/shameemreza/.composer/vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
        - /Users/shameemreza/.composer/vendor/php-stubs/woocommerce-stubs/woocommerce-packages-stubs.php
    bootstrapFiles:
        - /Users/shameemreza/.composer/vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
        - /Users/shameemreza/.composer/vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        # Constants defined at runtime in main plugin file
        - '#Constant ASSISTIFY_\w+ not found#'
        # WordPress constant
        - '#Constant WP_MEMORY_LIMIT not found#'
        # WC_Order_Item stub incomplete - these methods exist on WC_Order_Item_Product
        - '#Call to an undefined method WC_Order_Item::get_total#'
        - '#Call to an undefined method WC_Order_Item::get_product\(\)#'
        - '#Call to an undefined method WC_Order_Item::get_product_id\(\)#'
        # Action callbacks that also work as direct method calls may return values
        - '#Action callback returns .* but should not return anything#'
        # WooCommerce stub incomplete
        - '#Access to an undefined property WooCommerce::\$payment_gateways#'
        # WooCommerce Subscriptions - no official stubs available
        - '#Function wcs_\w+ not found#'
        - '#class WC_Subscription#'
        - '#Function wcs_can_user_put_subscription_on_hold not found#'
        # WooCommerce Bookings - no official stubs available
        - '#Function get_wc_booking not found#'
        - '#Function get_wc_booking_statuses not found#'
        - '#Function get_wc_product_booking not found#'
        - '#Function wc_bookings_get_status_label not found#'
        - '#class WC_Booking_Data_Store#'
        - '#class WC_Booking#'
        - '#class WC_Bookings#'
        # WooCommerce Memberships - no official stubs available
        - '#Function wc_memberships\w* not found#'
        - '#Function wc_memberships_get_user_membership not found#'
        - '#Function wc_memberships_get_user_memberships not found#'
        - '#Function wc_memberships_get_user_active_memberships not found#'
        - '#Function wc_memberships_get_user_membership_statuses not found#'
        - '#Function wc_memberships_get_user_membership_status_name not found#'
        - '#Function wc_memberships_get_membership_plan not found#'
        - '#Function wc_memberships_get_membership_plans not found#'
        - '#Function wc_memberships_is_user_member not found#'
        - '#Function wc_memberships_is_user_active_member not found#'
        - '#class WC_Memberships#'
        - '#class WC_Memberships_User_Membership#'
        - '#class WC_Memberships_Membership_Plan#'
